body {
    font-family: Arial, sans-serif;
    color: azure;
    background-color: #342f2f;
    margin: 100px;
    padding: auto;
}

.container {
    background-color: #4a4a4a; 
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
    margin-bottom: 18px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> f832849817badeb25a21152f901baac2bdc45d3f
