body {
    font-family: Arial, sans-serif;
    color: azure;
    background-color: #342f2f;
    margin: 0;
    padding: 100px;
}

button {
    font-size: 1.5rem; /* Makes text and emoji bigger */
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}