body   {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    text-align: left;
    background-color: #fffffffb;
    font-family: roboto;
    color: #191919;
}
h1     {
    font-size: xx-large;
    color: #2c496e;
}
h2     {
    font-size: x-large;
    color: #2c496e;
}
h3     {
    font-size: medium;
}
p      {
    font-size: 14px;
    line-height: 1.75;
}
.row   {
    margin-top: 40px;
    min-height: 20px;
    justify-content: space-between;
}
