body    {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    color: #00FD0B;
}
h1      {
    font-size: x-large;
}
h2      {
    font-size: large;
    font-weight: lighter;
}
p      {
    font-size: larger;
}
.white   {
    color: white;
}
.orange  {
    color: orange;
}
ul      {
    text-shadow: 1px 1px #00FD0B;
    font-size: large;
    color: white;
    padding-left: 1.25em;
}
ol      {
    text-shadow: 1px 1px #00FD0B;
    font-size: large;
    color: #e19f05;
    padding-left: 1.25em;
}